table {
    border-collapse: collapse;
    width: 50%;
    font-family: Arial, sans-serif;
    margin: auto;
    background-color: rgb(189, 245, 195);
    border: 2px solid black;
  }
  
    
  body{
      background-image: linear-gradient(to right,#FDFFC2,#94FFD8);
  }
    
  
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    
  }
  
  th input, th select {
    
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .number-scroller {
    display: flex;
    align-items: center;
  }
  
  .number-scroller input {
    text-align: center;
    border: 1px solid #ccc;
    padding: 2px;
  }
  
  .number-scroller button {
    padding: 2px 5px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
  }
  
  
  
  th span {
    cursor: pointer;
    color: #ccc;
  }

  .fir{
    width: 1px;
  }

  .sec{
    width: 1px;
  }

  .thi{
    width: 1px;
  }

  .fou{
    width: 1px;
  }

  .fif{
    width: 1px;
  }


  
  